.tix-app {
  display: grid;
  grid-template: 
  'header' minmax(60px, 10vh)
  'main' 80vh
  'footer' minmax(60px, 10vh) / 100%;
  gap: 1em;
}

.tix-header {
  grid-area: header;
  position: sticky;
  top: 0;
  height: 100%;
  max-height: 45px;
}
  .tix-header tix-navbar {
    max-height: 45px;
  }

.tix-main {
  grid-area: main;
  overflow: auto;
  max-height: 100vh;
}

.tix-footer {
  grid-area: footer;
}